
.excercise-one {
    background-image: url("../assets/B/excercice-one.png");
}

.excercise-two {
    background-image: url("../assets/B/excercice-two.png");
}

.excercise-three {
    background-image: url("../assets/B/excercice-three.png");
}
.excercise-four {
    background-image: url("../assets/B/excercice-four.png");
}
.excercise-five {
    background-image: url("../assets/B/excercice-five.png");
}
.excercise-six {
    background-image: url("../assets/B/excercice-six.png");
}
.excercise-seven {
    background-image: url("../assets/B/excercice-seven.png");
}
.excercise-eight {
    background-image: url("../assets/B/excercice-eight.png");
}