
*{
    margin:0;
    padding: 0;
}

a, a:visited, a:link{
    text-decoration: none;
    color: white;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
.container{
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    /* background-image: url("../assets/BCKGND.png"); */
    background-size: contain;
    background-repeat:repeat-y ;
    background-position-x: center;
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.excercise-tittle p {
    font-weight: bolder;
    width: 90vw;
    margin-top: 15px;
    font-size:20px;
}
.excercise{
    margin: 10px auto;
    width: 317px;
    background-size: contain;
    height: 215px;
    border-radius: 15px;
}